/* fonts */
.azeret-mono{
    font-family: "Azeret Mono", monospace;
}

*{
    margin: 0;
    padding: 0;
}

/* Banner styles starts here */

nav h1{
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: 28px;
}
nav .btn-container{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;

}

nav{
    display: flex;
    justify-content: space-between;
    margin:50px 150px;
    align-items: center;
    margin-bottom: 47px;
}

.banner-container{
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/banner.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 74px;
}

.banner_image-container img{
    margin-top:26px;
    margin-bottom: 52.37px;
}

.banner-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    margin-bottom: 32px;

}

.banner-container a{
    text-decoration: none;
}

.button-container2{
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;


}

/* why web dev section styles start here */
.choosing-dev-container{
    max-width: 1140px;
    height: 1395px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin-bottom: 88px;
}

.choosing-dev-container .heading-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}

.choosing-dev-container .heading-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.coding-container{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    align-items: center;
    margin-bottom: 32px;

}

.coding-container-heading h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.coding-container-heading p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    margin-bottom: 32px;

}

/* Shared in this page */
.button-container3{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    
}

/* shared container end */

.ambition-container{
    display: flex;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    align-items: center;
    margin-bottom: 32px;

}

.ambition-container h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.ambition-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    margin-bottom: 32px;

}

.determination-container{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    align-items: center;
    margin-bottom: 32px;

}

.determination-container h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.determination-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 26px;
    margin-bottom: 32px;

}

/* inspiration container starts here  */
.inspiration-container{
    max-width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-bottom: 149px;

}

.inspiration-text-container h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-bottom: 24px;
}

.inspiration-text-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 48px;
}

.inspiration-yt-channel-link{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    stroke:rgba(13, 19, 33, 0.2);
    
}

/* My Target Container Starts here */
.my-target-container{
    max-width: 1140px;
    height: 1442px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.my-target-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.my-target-container h6{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 48px;

}

.html-container{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 364px;
    height: 300px;
}

.css-container{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 364px;
    height: 300px;
}

.javascript-container{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 364px;
    height: 300px;
}

.parent-container{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    gap: 24px;

}

.html-container img{
    margin-bottom: 24px;
}

.html-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 8px;

}

.html-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin-bottom: 24px;

}

.html-container h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}


.css-container img{
    margin-bottom: 24px;
}

.css-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 8px;

}

.css-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin-bottom: 24px;

}

.css-container h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.javascript-container img{
    margin-bottom: 24px;
}

.javascript-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 8px;

}

.javascript-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin-bottom: 24px;

}

.javascript-container h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.react-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.react-child-container{
    display: flex;
    flex-direction:column;
}

.node-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.node-child-container{
    display: flex;
    flex-direction:column;
}

.mongodb-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    
}

.mongodb-child-container{
    display: flex;
    flex-direction:column;
}
.node-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 16px 0px;
}

.mongodb-container{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 16px 0px;
    
}
.parent-next-target-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left; 
    margin-bottom: 8px;
}

.parent-next-target-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}

.parent-next-target-container h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* support section starts here */
.support-container{
    max-width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    /* background:url(../assets/handshake.jpg) rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/handshake.jpg);
    /* background-image:url(../assets/handshake.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 79px;
      
}

.support-parent-container{
    padding: 64px 48px 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-container h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.support-container p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
    
}

.support-container input[type="text"]{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 548px;
    height: 57px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.support-container .button-container4{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;   

}
.parent-form{
    display: flex;
    gap: 16px;
    align-items: center;

}

/* footer section styles starts here */
.footer-container{
    max-width: 1440px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);

}

.footer-element{
    padding: 32px 150px 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-container h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.footer-icon-element a{
    text-decoration: none;

}


